$img: '../images';
$ficonsFontPath: "../fonts";
$FiconsFontFamily: 'ficons';

$fontBase: 'Helvetica Neue';
$fontBaseRtl: 'Droid Arabic Kufi';

$fontSizeBase: 16px; 

$brandPrimary: #013764;
$brandSecondary:#E04403;
$brandTertiary: #DBE2E8;


$bgColor:#E2E7EB;
$white: #FFFFFF;
$black: #000000;

$lightBlue: #1F8CEF;

$bordeBlueOne: #649FD0;

