@media screen and (max-width: 1199px) {
  
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  
}
@media screen and (max-width: 1109px) {
  
}
@media screen and (max-width: 1024px) {
  
}
@media screen and (min-width: 992px) {

}
@media screen and (max-width: 991px) {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
  }
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.25em;
  }

  .box-f {
    padding: 40px 0;
  }
  .box-r-40 {
    padding-right: 0px;
  }
  .box-l-40 {
    padding-left: 0px;
  }


  .ar {
    .box-r-40 {
      padding-right: 0px;
      padding-left: 0px;
    }
    .box-l-40 {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
 
}

@media screen and (max-width: 768px) {


}

@media screen and (max-width: 667px) {
  
}

@media screen and (max-width: 600px) {
  
}

@media screen and (max-width: 575px) {

}
