@font-face {
    font-family: 'Helvetica Neue';
    src: url('#{$ficonsFontPath}/helvetica/HelveticaNeue-CondensedBold.eot');
    src: url('#{$ficonsFontPath}/helvetica/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-CondensedBold.woff2') format('woff2'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-CondensedBold.woff') format('woff'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-CondensedBold.ttf') format('truetype'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('#{$ficonsFontPath}/helvetica/HelveticaNeue-CondensedBlack.eot');
    src: url('#{$ficonsFontPath}/helvetica/HelveticaNeue-CondensedBlack.eot?#iefix') format('embedded-opentype'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-CondensedBlack.woff2') format('woff2'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-CondensedBlack.woff') format('woff'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-CondensedBlack.ttf') format('truetype'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-CondensedBlack.svg#HelveticaNeue-CondensedBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Bold.eot');
    src: url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Bold.woff2') format('woff2'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Bold.woff') format('woff'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Bold.ttf') format('truetype'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('#{$ficonsFontPath}/helvetica/HelveticaNeue.eot');
    src: url('#{$ficonsFontPath}/helvetica/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue.woff2') format('woff2'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue.woff') format('woff'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue.ttf') format('truetype'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Thin.eot');
    src: url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Thin.woff2') format('woff2'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Thin.woff') format('woff'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Thin.ttf') format('truetype'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Light.eot');
    src: url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Light.woff2') format('woff2'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Light.woff') format('woff'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Light.ttf') format('truetype'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Medium.eot');
    src: url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Medium.woff2') format('woff2'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Medium.woff') format('woff'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Medium.ttf') format('truetype'),
        url('#{$ficonsFontPath}/helvetica/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


//Arabic Font

@font-face {
    font-family: 'Bahij TheSansArabic';
    src: url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Black.eot');
    src: url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Black.eot?#iefix') format('embedded-opentype'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Black.woff2') format('woff2'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Black.woff') format('woff'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Black.ttf') format('truetype'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Black.svg#BahijTheSansArabic-Black') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bahij TheSansArabic';
    src: url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Light.eot');
    src: url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Light.woff2') format('woff2'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Light.woff') format('woff'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Light.ttf') format('truetype'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Light.svg#BahijTheSansArabic-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bahij TheSansArabic Plain';
    src: url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Plain.eot');
    src: url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Plain.eot?#iefix') format('embedded-opentype'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Plain.woff2') format('woff2'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Plain.woff') format('woff'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Plain.ttf') format('truetype'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Plain.svg#BahijTheSansArabic-Plain') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bahij TheSansArabic';
    src: url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Bold.eot');
    src: url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Bold.woff2') format('woff2'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Bold.woff') format('woff'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Bold.ttf') format('truetype'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-Bold.svg#BahijTheSansArabic-Bold') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bahij TheSansArabic';
    src: url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-ExtraBold.eot');
    src: url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-ExtraBold.woff2') format('woff2'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-ExtraBold.woff') format('woff'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-ExtraBold.ttf') format('truetype'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-ExtraBold.svg#BahijTheSansArabic-ExtraBold') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bahij TheSansArabic';
    src: url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-SemiBold.eot');
    src: url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-SemiBold.woff2') format('woff2'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-SemiBold.woff') format('woff'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-SemiBold.ttf') format('truetype'),
        url('#{$ficonsFontPath}/bahij/BahijTheSansArabic-SemiBold.svg#BahijTheSansArabic-SemiBold') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

