$img: '../images';
$ficonsFontPath: "../fonts";
$FiconsFontFamily: 'ficons';

$fontBase: 'Helvetica Neue';
$fontBaseRtl: 'Bahij TheSansArabic Plain';

$fontSizeBase: 16px; 

$brandPrimary: #013764;
$brandSecondary:#E04403;
$brandTertiary: #DBE2E8;


$bgColor:#E2E7EB;
$white: #FFFFFF;
$black: #000000;

$lightBlue: #1F8CEF;

$bordeBlueOne: #649FD0;

$brandPrimary01: rgba(1, 56, 101, 0.1);
$brandPrimary02: rgba(1, 56, 101, 0.2);
$brandPrimary03: rgba(1, 56, 101, 0.3);
$brandPrimary04: rgba(1, 56, 101, 0.4);
$brandPrimary05: rgba(1, 56, 101, 0.5);
$brandPrimary06: rgba(1, 56, 101, 0.6);
$brandPrimary07: rgba(1, 56, 101, 0.7);
$brandPrimary08: rgba(1, 56, 101, 0.8);
$brandPrimary09: rgba(1, 56, 101, 0.9);

